body{
    background: linear-gradient(45deg, #351ab1, #e34e0e)
}
.containerabout{
    border: 2px solid yellowgreen;
    margin:10px 80px;
    /* height: 75vh; */
    border-radius: 15px;
    background: linear-gradient(45deg, #ff0000, #0000ff);
    color: white;
    /* text-align: center; */
    display: flex;
    /* flex-direction: column; */
    font-size: 24px;
}
.purple{
    text-decoration: underline;
    /* color: red; */
}
h3{
    text-align: center;
    color: wheat;
    font-size: 1.5rem;
    margin-top: 10px;
}
.rightpart img{
    position: absolute;
    height: 75%;
    width: 250px;
    border-radius: 10px;
    margin-top: -20px;
}
.leftp{
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
    padding:10px 30px;
    width:70%;
}
.leftp h3{
    margin-bottom: 20px;
}
.leftp li{
    align-items:right ;
}
.btn{
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}
.btn:hover{
    border: 2px solid rgb(117, 9, 240);
 font-size: 12px;
 margin-left: 10px;
 cursor: pointer;
    background-color: aquamarine;
}
.btn a{
    text-decoration: none;
}